<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantasy.eleven.dao.UserDao">
    <sql id="user_list_field">id,gmt_create,gmt_modified,user_name,user_password,user_show_name,role_id,user_desc</sql>
    <select id="select" resultType="UserDO">
        SELECT
        <include refid="user_list_field"/>
        FROM t_user
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="id!= null and id !='' ">id=#{id}</if>
            <if test="userName!= null and userName !=''and userName!='null' ">user_name=#{userName}</if>
        </trim>
    </select>

    <select id="userCount" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM t_user
    </select>

    <insert id="insert">
        INSERT
        ignore
        INTO
        t_user (gmt_create,gmt_modified,user_name,user_password,user_show_name,role_id,user_desc)
        VALUES (CURRENT_TIME,CURRENT_TIME,#{userName},#{userPassword},#{userShowName},#{roleId},#{userDesc})
    </insert>

    <update id="update">
        UPDATE t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="true">gmt_modified = CURRENT_TIME</if>
            <if test="userName!=null and userName!='' and userName!='null'">,user_name=#{userName}</if>
            <if test="userPassword!=null and userPassword!='' and userPassword!='null'">
                ,user_password=#{userPassword}
            </if>
            <if test="userShowName!=null and userShowName!='' and userShowName!='null'">
                ,user_show_name=#{userShowName}
            </if>
            <if test="userDesc!=null and userDesc!='' and userDesc!='null'">,user_desc=#{userDesc}</if>
            <if test="roleId!=null and roleId!='' and roleId!='null'">,role_id=#{roleId}</if>
        </trim>
        WHERE id=#{id} ;
    </update>

    <delete id="delete">
        DELETE FROM t_user WHERE id=#{id}
    </delete>
</mapper>